.myWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  animation: fadeIn 2s linear;
}

.h2 {
  text-align: center;
  font-size: 3em;
}

.projectContent {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: auto;
  font-size: 1.2em;
  text-align: left;
}

.projectContent h2 {
  text-align: center;
  font-size: 1.5em;
}

.project {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #aaaaaa;
  border: 1px solid black;
  border-radius: 50px;
  margin: 50px;
}

.project .projectImg {
  width: 55%;
  margin: auto;
}

.projectTitle {
  font-weight: 600;
  font-size: 1.5em;
  margin: auto;
}

.buttonHolder {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .h2 {
    font-size: 2.5em;
  }

  .projectContent {
    height: auto;
    margin: 30px auto;
    font-size: 1em;
  }

  .project {
    margin: 30px;
  }

  .project .projectImg {
    width: 50%;
  }

  .buttonHolder {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .h2 {
    font-size: 2em;
  }

  .projectContent {
    width: 40%;
    height: auto;
    margin: 20px auto;
  }

  .project {
    margin: 20px;
  }

  .project .projectImg {
    width: 40%;
  }

  .buttonHolder {
    width: 95%;
  }
}


@media (max-width: 768px) {
  .h2 {
    font-size: 1.4em;
  }

  .projectContent {
    width: 40%;
    height: auto;
    margin: 15px auto;
    font-size: 0.8em;
  }
  .projectTitle{
    font-size: 1.2em;
  }

  .project {
    margin: 15px;
  }

  .project .projectImg {
    width: 40%;
  }

  .buttonHolder {
    width: 95%;
  }
}

@media (max-width: 425px) {
  .h2 {
    font-size: 1em;
  }

  .projectContent {
    font-size: 0.6em;
  }

}

