.homepageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.typingContainer {
  width: fit-content;
  margin: auto;
}

.typingContainer h1 {
  overflow: hidden;
  border-right: .15em solid #FED409;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 5em;
  font-weight: bold;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typingContainer h1 span {
  color: #FED409;
}

.homepageContainer h2 {
  font-size: 5em;
  margin: 0px;
  font-weight: 400;
}

.homepageContainer p {
  margin-top: 20px;
  font-size: 1.5em;
  color: #999999;
}


.buttonHolder {
  margin: 8% 0px;
  margin-top: 80px;
}

.button {
  padding: 2% 8%;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #FED409;
  border: none;
  border-radius: 43px;
  box-shadow: 0px 5px #E5AD06;

}

.button:hover {
  background-color: white;
  box-shadow: 0 5px #999;
}

.button:active {
  background-color: white;
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}


.contentContainer {
  background-color: #222222;
  padding: 2% 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 50px;
}

.contentContainer a {
  text-decoration: none;
  cursor: pointer;
  margin: 30px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaaaaa;
}


.contentContainer a img {
  fill: #aaaaaa;
  width: 20px;
  height: 20px;
  margin: 10px;
}

.contentContainer :hover {
  color: white;
}



.spinnyWrapper {
  margin-top: 20px;
  margin-left: -14%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.spinnyWrapper p {
  margin: auto;
}

.spinnyWords {
  min-width: 450px;
  text-align: left;
  margin-left: 15px;
}

.spinnyWords span {
  position: absolute;
  font-weight: bold;
  top: -0px;
  opacity: 0;
  animation: rotateWord 18s linear infinite 0s;
}

.spinnyWords span:nth-child(2) {
  animation-delay: 3s;
}

.spinnyWords span:nth-child(3) {
  animation-delay: 6s;
}

.spinnyWords span:nth-child(4) {
  animation-delay: 9s;
}

.spinnyWords span:nth-child(5) {
  animation-delay: 12s;
}

.spinnyWords span:nth-child(6) {
  animation-delay: 15s;
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    transform: translateY(-30px);
  }

  5% {
    opacity: 1;
    transform: translateY(0px);
  }

  17% {
    opacity: 1;
    transform: translateY(0px);
  }

  20% {
    opacity: 0;
    transform: translateY(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #FED409;
  }
}


